.text-30px {
  /* total height: 42px */
  height: 39px;
  margin-top: 2px;
  margin-bottom: 1px;
  font-size: 30px;
  text-align: left;
}

.text-38px {
  /* total height: 54px */
  height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 38px;
  text-align: left;
}

.ui-btn {
  /* total height: 72px */
  width: 240px;
  height: 60px;
  margin-top: 12px;
  padding-top: 12px;
  background-color: #222;
  border-radius: 24px;
  text-align: center;
  font-size: 30px;
}

.ui-round-btn {
  width: 72px;
  height: 72px;
  margin-left: 12px;
  border-radius: 72px;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.btn-card-wrapper {
  height: 90px;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.btn-card {
  height: 78px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #222;
  border-radius: 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-card-title {
  margin-left: 24px;
}

.btn-card-go-icon {
  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.option-list {
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
}

.option-card-wrapper {
  width: 132px;
  height: 84px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border-width: 3px;
  background-color: transparent;
}

.option-card {
  width: 120px;
  height: 72px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.option-round-btn {
  width: 72px;
  height: 72px;
  margin-left: 12px;
  border-radius: 72px;
  align-items: center;
  justify-content: center;
  background-color: #333;
}